h1{
    margin-top:10px;
    padding:5px;
}

input{
    width:280px;
    height:40px;
}

form button[type='submit']{
    width:100px;
    color:white;
    text-align:center;
    font-size:large;
    height:40px;
    background-color:rgb(0, 102, 255);
}

form  button[type='submit']:disabled{
    opacity:0.5;
}

p{
    font-size:15px;
}